details {
    text-align: initial;
    width: 95%;
    border: 2px outset #000;
    margin: 2em auto;
}

details:first-of-type {
    margin-top: 2.5em;
}

details:last-of-type {
    margin-bottom: 5em;
}

details summary {
    font-size: 1em;
    font-weight: 500;
    padding: 2.5%;
    list-style-type: none;
}

details summary::-webkit-details-marker {/*For safari browser*/
    display: none;
}

details>summary::after {
    font-weight: 1000;
    font-size: 0.8em;
    content: '+';
    float: right;
}

details[open]>summary::after {
    content: "-";
}

details[open] summary {
    color: #5e0505;
}

details[open] summary~p {
    padding: 2%;
    background-color: #000;
    color: #fff;
    text-indent: 5vw;
    text-align: justify;
}