details {
    text-align: initial;
    width: 95%;
    border: 2px outset #000;
    margin: 2em auto;
}

details:first-of-type {
    margin-top: 2.5em;
}

details:last-of-type {
    margin-bottom: 5em;
}

details summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 1em;
}

details summary::-webkit-details-marker {/*For safari browser*/
    display: none;
}

details>summary::after {
    font-weight: 500;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 15vw;
    content: '+';
}

details[open]>summary::after {
    content: "-";
}

details[open] summary {
    color: #5e0505;
}

details[open] summary~p {
    padding: 2%;
    background-color: #000;
    color: #fff;
    text-indent: 5vw;
    text-align: justify;
}

details summary div{
    display: flex;
    align-items: center;
    width: 100%;
    overflow-wrap: break-word;
    text-align: justify;
    padding: 0 1%;
    border-right: 1px inset #000;
}

@media screen and (min-width: 500px) {
    details>summary::after {
        width: 10vw;
    }
}


@media screen and (min-width: 900px) {
    details>summary::after {
        width: 5vw;
    }
}